{
  "presets": ["next/babel"],
  "plugins": [["styled-components", { "ssr": true }]],
  "env": {
    "production": {
      "plugins": [
        ["styled-components", { "ssr": true }],
        ["transform-remove-console", { "exclude": ["error", "warn", "info"] }]
      ]
    }
  }
}
